<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>打印详单</title>
</head>
<body>
<form action="/reception_print_bill/" method="post">
    <h3>请输入房间号</h3>
    <input type="number" name="room_num"/>
    <br>
    <br>
    <button>打印账单</button>
</form>
<br>
<form action="/reception_print_detail/" method="post">
    <button>打印详单</button>
    <table border="1">
        <thead>
        <tr>
            <th>详单编号</th>
            <th>房间号</th>
            <th>请求时间</th>
            <th>请求持续时间</th>
            <th>温度</th>
            <th>风速</th>
            <th>期间费用</th>
        </tr>
        </thead>
        <tbody>
            {% for detail_obj in detailed_record %}
            <tr>
                <td>{{detail_obj.detail_count}}</td>
                <td>{{detail_obj.room_no}}</td>
                <td>{{detail_obj.request_time}}</td>
                <td>{{detail_obj.duration}}</td>
                <td>{{detail_obj.temper}}</td>
                <td>{{detail_obj.speed}}</td>
                <td>{{detail_obj.fee}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
</body>
</html>