<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>周报选择查看房间信息的模式</title>
</head>
<body>
    <h1>周报选择查看房间信息的模式</h1>
    <form method="POST" action="/weekly_record_room_choice/">
        <td>选择类型</td>
        <input type="text" name="choice">
        <p></p>
        <td> 房 间 号</td>
        <input type="text" name="room_id">
        <input type="submit" value="提交">
        <p>类型1为：显示费用，使用时间</p>
        <p>类型2为：显示空调开关次数，打印详单次数</p>
        <p>类型3为：显示温度改变次数，风速改变次数</p>
        <p>类型4为：显示被调度的次数</p>
        <p>若输入的房间号不存在则返回原界面</p>
    </form>
</body>
</html>