<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>办理退房</title>
</head>
<body>
<form action="/reception_check_in/" method="post">
    <h3>请输入房间号</h3>
    <input type="number" name="room_num"/>
    <br>
    <br>
    <button>办理入住</button>
    <br>
</form>
<br>
<form action="/reception_check_out/" method="post">
    <h3>请输入房间号</h3>
    <input type="number" name="room_num"/>
    <br>
    <br>
    <button>办理退房</button>
    {{msg}}
</form>
<br>
<form action="/reception_print_bill/" method="post">
    <h3>请输入房间号</h3>
    <input type="number" name="room_num"/>
    <br>
    <br>
    <button>打印账单</button>
</form>
<br>
<form action="/reception_print_detail/" method="post">
    <h3>请输入房间号</h3>
    <input type="number" name="room_num"/>
    <br>
    <br>
    <button>打印详单</button>
</form>
</body>
</html>