<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>周报表</title>
    <link rel="stylesheet" href="/static/test.css">

</head>
<body>
    <h1>周报表</h1>
   <style type="text/css">
     body
      {
         width:800px;
         height :800px;
      }
      table
     {
         border-collapse :collapse ;
     }
     th,td
     {
         width:200px;
         height:40px;
         border :1px solid black;
         font-size:12px;
         text-align :center;
     }
    </style>
    <table>
        <tr>
            <td>房间号</td>
            <td>空调开关次数</td>
            <td>服务总时间</td>
            <td>总费用</td>
            <td>被调度次数</td>
            <td>打印详单的次数</td>
            <td>改变目标温度的次数</td>
            <td>改变目标风速的次数</td>
        </tr>
                <tr>
                    <td>{{room_id}}</td>
                    <td>{{times_of_on}}</td>
                    <td>{{duration}}</td>
                    <td>{{total_fee}}</td>
                    <td>{{times_of_dispatch}}</td>
                    <td>{{number_of_RDR}}</td>
                    <td>{{times_of_change_temp}}</td>
                    <td>{{times_of_change_speed}}</td>
                </tr>
    </table>
</body>
</html>